*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #2f2e80;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-light: rgba(255, 255, 255, 0.7);
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #3c4096;
    --color-bg1: #f7f9ff;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    
    background-color: var(--color-primary);
}

.sectioner{
    min-height: 100vh;
    min-width: 100vw;
    
}

.main-container{
    position: absolute;
    height: 40rem;
    width: 70rem;
    background: #fdfdfd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container .icon{
    position: relative;
    top: 11rem;
    left: 4rem;
}

.icon .name, .icon .class{
    background: #4070f1;
    color: #fff;
    width: fit-content;
    padding: 1rem;
    position: relative;
}

.details{
    display: flex;
    gap: 5px;
    position: relative;
    top: 5rem;
}


.main-container .icon .imgcon{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    border: 7px solid #4079f1; 
}

.main-container .icon .imgcon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #fff; 
    object-fit: cover;
}


.card{
    min-height: 100vh;
    background-image: url(images/background.png);
    background: var(--color-bg2);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

:root{
    --color-background: /*#1b023b*/ #d7ddeb; 
    --color-success:  #32bb78;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-bg2: #502293;
}

/*.first{
    min-height: 100vh;
    background-image: url(images/back-image.png);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}*/

/*.content img{
    width: 230px;
    bottom: 0;
    margin-left: 170px;
    border-radius: 50%;
}*/




.card-con{
    position: relative;
    width: fit-content;
    height: 350px;
    margin: 20px;
    /*scroll-snap-align: start;*/
}

.card-con .face{
    position: absolute;
    width: fit-content;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 3s;
    display: grid;
    place-content: center;
    scroll-snap-align: none;
}

.card-con .front{
    transform: perspective(600px) rotateY(0deg);
    /*box-shadow: 0 5px 10px #000;*/
}

.card-con .front{
    position: absolute;
    min-width: 100%;
    min-height: fit-content;
    padding: 15px 20px;
    background: var(--color-background);
    row-gap: 7px;
}

/* my codes */


form .input-field input{
    width: 42px;
    height: 45px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    color: #00bf8e;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
    font-variant: normal;
    font-kerning: auto;
    font-stretch: 100%;
}

.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button{
    display: none;
}

form button{
    margin-top: 25px;
    width: 42px;
    height: 45px;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 12px 0;
    border-radius: 6px;
    cursor: pointer;
    text-transform: initial;
    transition:  all .2s ease;
}

#btn-one{
    background: var(--color-success);
}

#btn-two{
    background: var(--color-warning);
}

#btn-three{
    background: var(--color-danger);
}

form button.active{
    pointer-events: none auto;
}

form button:hover{
    background: #4070f1;
}

:where(.front, form, .input-field, .score){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .input-field{
    flex-direction: row;
    column-gap: 10px;
}

.card-con .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 45px;
    color: #fff;
    background: /*rgba(0, 0, 0, .4)*/ var(--color-primary);
    text-align: center;
}

.front .score{
    position: absolute;
    height: 40px;
    width: 100%;
    background: var(--color-primary);
    color: #fff;
    top: 3rem;
    left: 3rem;
    padding: 7px;
    font-weight: 500;
    border-radius: 12px;

}

.card-con .back{
    transform: perspective(600px) rotateY(180deg);
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card-con .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card-con .back .link a{
    color: #f3f3f3;
}

.card-con .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card-con .back p{
    letter-spacing: 1px;
}

/*.card-con:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card-con:hover .back{
    transform: perspective(600px) rotateY(360deg);
}*/

.captcha{
    margin-top: 13rem;
    position: absolute;
}

input.control::placeholder{
    color: #fff;
    position: absolute;
    background: red;
    width: 100%;
    top: 0;
    font-size: 14px;
    font-weight: 400;
}

.wrr{
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    padding: 15px;
    color: #f3f3f3;
    display: grid;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    position: relative;
}

.main{
    display: grid;
    gap: 10px;
    color: #fff;
    line-height: -9px;
}

.footer{
    height: 40vh;
    width: 100%;
}

.sec{
    max-width: 400px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 17rem;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    top: 9rem;
}

::-webkit-scrollbar{
    height: 8px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb{
    background: #6e93f7;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
    background: #4070f4;
}

@media (max-width: 1024px) {
    .sectioner{
        height: 100vh;
        width: 100vw;
        position: absolute;
        
    }
    
    .main-container{
        position: relative;
        height: 100%;
        width: 80%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 4px 10px 10px 4px rgba(0, 0, 0, 0.6);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 17.3rem;
        /*transform: translate(-50%, -50%);*/
    }
    
    .main-container .icon .imgcon{
        border-radius: 50%;
        height: 12rem;
        width: 12rem;
        border: 7px solid #4079f1; 
    }

    .icon .name, .icon .class{
        background: #4070f1;
        color: #fff;
        width: fit-content;
        padding: 0.5rem;
        position: relative;
    }

    .details{
        display: flex;
        gap: 5px;
        position: relative;
        top: 1rem;
    }

    .sectioner .main-container .sec{
        max-width: 400px;
        width: 100%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 24.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }

    .card-con{
        position: relative;
        width: fit-content;
        height: 350px;
        margin: 20px;
        /*scroll-snap-align: start;*/
    }

    .card-con .face{
        position: absolute;
        width: fit-content;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        place-content: center;
        scroll-snap-align: none;
    }
    
    .card-con .front{
        transform: perspective(600px) rotateY(0deg);

    }
    
    .card-con .front{
        position: absolute;
        min-width: 100%;
        min-height: fit-content;
        padding: 15px 20px;
        background: var(--color-background);
        row-gap: 7px;
    }

    form .input-field input{
        width: 35px;
        height: 36px;
        border-radius: 6px;
    }
}



@media (max-width: 991px) {
    .sectioner{
        height: 100vh;
        width: 100vw;
        position: absolute;
        
    }
    
    .main-container{
        position: relative;
        height: 100%;
        width: 80%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 17.3rem;
        /*transform: translate(-50%, -50%);*/
    }
    
    .main-container .icon .imgcon{
        border-radius: 50%;
        height: 12rem;
        width: 12rem;
        border: 7px solid #4079f1; 
    }

    .icon .name, .icon .class{
        background: #4070f1;
        color: #fff;
        width: fit-content;
        padding: 0.5rem;
        position: relative;
    }

    .details{
        display: flex;
        gap: 5px;
        position: relative;
        top: 1rem;
    }

    .sectioner .main-container .sec{
        max-width: 400px;
        width: 100%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 22.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }

    .card-con{
        position: relative;
        width: fit-content;
        height: 350px;
        margin: 20px;
        /*scroll-snap-align: start;*/
    }

    .card-con .face{
        position: absolute;
        width: fit-content;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        place-content: center;
        scroll-snap-align: none;
    }
    
    .card-con .front{
        transform: perspective(600px) rotateY(0deg);
    
    }
    
    .card-con .front{
        position: absolute;
        min-width: 100%;
        min-height: fit-content;
        padding: 15px 20px;
        background: var(--color-background);
        row-gap: 7px;
    }

    form .input-field input{
        width: 35px;
        height: 36px;
        border-radius: 6px;
    }
}

@media (max-width: 800px) {
    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 13.3rem;
    }

    .sectioner .main-container .sec{
        max-width: 400px;
        width: 100%;
        height: fit-content;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 18.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
    }
}   


@media (max-width: 768px) {
    .sectioner{
        height: 100vh;
        width: 100vw;
        position: absolute;
        
    }
    
    .main-container{
        position: relative;
        height: 100%;
        width: 80%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 13.3rem;
        /*transform: translate(-50%, -50%);*/
    }
    
    .main-container .icon .imgcon{
        border-radius: 50%;
        height: 12rem;
        width: 12rem;
        border: 7px solid #4079f1; 
    }
    
    .icon .name, .icon .class{
        background: #4070f1;
        color: #fff;
        width: fit-content;
        padding: 0.5rem;
        position: relative;
    }
    
    .details{
        display: flex;
        gap: 5px;
        position: relative;
        top: 1rem;
    }
    
    .sectioner .main-container .sec{
        max-width: 400px;
        width: 100%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 18.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }
    
    .card-con{
        position: relative;
        width: fit-content;
        height: 350px;
        margin: 20px;
        /*scroll-snap-align: start;*/
    }
    
    .card-con .face{
        position: absolute;
        width: fit-content;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        place-content: center;
        scroll-snap-align: none;
    }
    
    .card-con .front{
        transform: perspective(600px) rotateY(0deg);
    }
    
    .card-con .front{
        position: absolute;
        min-width: 100%;
        min-height: fit-content;
        padding: 15px 20px;
        background: var(--color-background);
        row-gap: 7px;
    }
    
    form .input-field input{
        width: 35px;
        height: 36px;
        border-radius: 6px;
    }
    
}

@media (max-width: 696px) {

    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 9.3rem;
    }
    

    .sectioner .main-container .sec{
        max-width: 400px;
        width: 120%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 15.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }

    .main-container{
        position: relative;
        height: 100%;
        width: 80%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 617px) {
    .sectioner{
        height: 100vh;
        width: 100vw;
        position: absolute;
        
    }
    
    .main-container{
        position: relative;
        height: 100%;
        width: 80%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 8.3rem;
        /*transform: translate(-50%, -50%);*/
    }
    
    .main-container .icon .imgcon{
        border-radius: 50%;
        height: 12rem;
        width: 12rem;
        border: 7px solid #4079f1; 
    }
    
    .icon .name, .icon .class{
        background: #4070f1;
        color: #fff;
        width: fit-content;
        padding: 0.5rem;
        position: relative;
    }
    
    .details{
        display: flex;
        gap: 5px;
        position: relative;
        top: 1rem;
    }
    
    .sectioner .main-container .sec{
        max-width: 400px;
        width: 120%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 15.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }
    
    .card-con{
        position: relative;
        width: fit-content;
        height: 350px;
        margin: 20px;
        /*scroll-snap-align: start;*/
    }
    
    .card-con .face{
        position: absolute;
        width: fit-content;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        place-content: center;
        scroll-snap-align: none;
    }
    
    .card-con .front{
        transform: perspective(600px) rotateY(0deg);
    }
    
    .card-con .front{
        position: absolute;
        min-width: 100%;
        min-height: fit-content;
        padding: 15px 20px;
        background: var(--color-background);
        row-gap: 7px;
    }
    
    form .input-field input{
        width: 35px;
        height: 36px;
        border-radius: 6px;
    }
}

@media (max-width: 573px) {
    
    
    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 7.3rem;
        /*transform: translate(-50%, -50%);*/
    }

    .sectioner .main-container .sec{
        max-width: 400px;
        width: 130%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 13.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }

    .main-container{
        position: relative;
        height: 100%;
        width: 95%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 4px 10px 10px 4px rgba(0, 0, 0, 0.6);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 531px) {
    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 6.3rem;
        /*transform: translate(-50%, -50%);*/
    }

    .sectioner .main-container .sec{
        max-width: 400px;
        width: 140%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 12.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }

    .main-container{
        position: relative;
        height: 100%;
        width: 95%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 4px 10px 10px 4px rgba(0, 0, 0, 0.6);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}


@media (max-width:450px) {
    .sectioner{
        height: 100vh;
        width: 100vw;
        position: absolute;
        
    }
    
    .main-container{
        position: relative;
        height: 100%;
        width: 95%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 4px 10px 10px 4px rgba(0, 0, 0, 0.6);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 4.3rem;
        /*transform: translate(-50%, -50%);*/
    }
    
    .main-container .icon .imgcon{
        border-radius: 50%;
        height: 12rem;
        width: 12rem;
        border: 7px solid #4079f1; 
    }
    
    .icon .name, .icon .class{
        background: #4070f1;
        color: #fff;
        width: fit-content;
        padding: 0.5rem;
        position: relative;
    }
    
    .details{
        display: flex;
        gap: 5px;
        position: relative;
        top: 1rem;
    }
    
    .sectioner .main-container .sec{
        max-width: 400px;
        width: 170%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 10.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }
    
    .card-con{
        position: relative;
        width: fit-content;
        height: 350px;
        margin: 20px;
        /*scroll-snap-align: start;*/
    }
    
    .card-con .face{
        position: absolute;
        width: fit-content;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        place-content: center;
        scroll-snap-align: none;
    }
    
    .card-con .front{
        transform: perspective(600px) rotateY(0deg);
    }
    
    .card-con .front{
        position: absolute;
        min-width: 100%;
        min-height: fit-content;
        padding: 15px 20px;
        background: var(--color-background);
        row-gap: 7px;
    }
    
    form .input-field input{
        width: 35px;
        height: 36px;
        border-radius: 6px;
    }
}

@media (max-width:365px){
    .sectioner{
        height: 100vh;
        width: 100vw;
        position: absolute;
        
    }
    
    .main-container{
        position: relative;
        height: 100%;
        width: 90%;
        background: #fdfdfd;
        display: grid;
        place-content: center;
        box-shadow: 4px 10px 10px 4px rgba(0, 0, 0, 0.6);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main-container .icon{
        position: absolute;
        top: 8px;
        left: 2.3rem;
        /*transform: translate(-50%, -50%);*/
    }
    
    .main-container .icon .imgcon{
        border-radius: 50%;
        height: 12rem;
        width: 12rem;
        border: 7px solid #4079f1; 
    }
    
    .icon .name, .icon .class{
        background: #4070f1;
        color: #fff;
        width: fit-content;
        padding: 0.5rem;
        position: relative;
    }
    
    .details{
        display: flex;
        gap: 5px;
        position: relative;
        top: 1rem;
    }
    
    .sectioner .main-container .sec{
        max-width: 400px;
        width: 167%;
        height: fit-content;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 15rem;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 19rem;
        left: 9.5rem;
        bottom: 8px;
        transform: translate(-50%, -50%);
        
    }
    
    .card-con{
        position: relative;
        width: fit-content;
        height: 350px;
        margin: 20px;
        /*scroll-snap-align: start;*/
    }
    
    .card-con .face{
        position: absolute;
        width: fit-content;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        place-content: center;
        scroll-snap-align: none;
    }
    
    .card-con .front{
        transform: perspective(600px) rotateY(0deg);
    }
    
    .card-con .front{
        position: absolute;
        min-width: 100%;
        min-height: fit-content;
        padding: 15px 20px;
        background: var(--color-background);
        row-gap: 7px;
    }
    
    form .input-field input{
        width: 35px;
        height: 36px;
        border-radius: 6px;
    }
}
